.container {
	position: relative;
	width: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 7px;
}

.checkbox {
	position: absolute;
	opacity: 0;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
}

.label {
	color: #757575;
	margin: 0;
	text-align: left;
}

.input {
	display: none;
}

.checked {
	color: #000;
}
